* {
    margin: 0;
    padding: 0;
    content: border-box;
}

li {
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    color: white;
    display: inline;

}

.a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;


}
.navItems {
    justify-content: center;
    padding-left: 30px;
}


.nav {
    display: flex;
    background-color: black;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    
}

.nav li {
    font-size: 20px;
    padding: 10px;
    display: inline-block;
}


header {
    width: 100%;
}

#navleft {
    /* width: 33.33%; */
    display: flex;

}

#navleft div {
    align-items: center;
    justify-content: center;
    display: flex;

}

#navcenter {
    width: 33.33%;

}

#navright {
    width: 33.33%;
    
}

#navlogo {
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    padding: 0px;
}
    
#search {
    align-items: center;
    justify-content: center;
    padding: 0px;
    
}
#magnifyingGlass {
    width: 10px;
    height: 10px;
    filter: invert(100%);
}

.mGlass {
    background-color: red;
    width: 18px;
    height: 18px;
}

#ShoppingCart {
    width: 25px;
    height: 20px;
    filter: invert(100%);
}

/* .input[type=text] {
    float: center;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
} */